.elements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

@media (min-width: 320px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 17px;
   
  }
}

@media (min-width: 550px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    
  }
}


@media (min-width: 700px) {
  .elements {
    grid-template-columns: repeat(3, 1fr);
    
  }
}

