.profile__button_act_add {
  display: flex;
  height: 50px;
  width: 150px;
  border: 2px solid #fff;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.profile__button_act_add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .profile__button_act_add {
    position: relative;
    width: 282px;
    margin: 0;
  }
}